<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Allow Météromane to use your location</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>Allow Météromane to use your location</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Allow Météromane to use your location</string>